@charset "utf-8";

@import "../base/_variables";
@import "../base/_helpers";

/**
 * Section: FAQs 
 */
.faqs {
    display: flex;
    padding-block: 50px;
    width: 100%;
}

.hm-faq-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 30px auto;
    position: relative;
    z-index: 10;
}